header {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;

}

.logo {
    background-image:url('https://raw.githubusercontent.com/magicaldave/holbertonschool-AirBnB_clone/main/images/hbnb_logo.png');
    background-repeat: no-repeat;
    background-position: 20px;
    min-width: 100%;
    min-height: 100%;
}
